html(lang='es')
	head
		title Practicando DOM
		meta(charset='UTF-8')
		link(rel='stylesheet' href='style.css')
	body
		h1 Holeee
		div(class='close')
		form(id='form')
			span(class='close') Cerrrar
			input(type='email' placeholder='Correo' name='mails[]')
		button(id='btn') Agregar
		script(src='scripts.js')